{% extends 'mamtaApp/index.html' %}
{% load staticfiles %}
{% block body %}
    <style>
        .zoom {

            transition: transform .2s; /* Animation */
            width: 30px;
            height: 30px;
            margin: 0 auto;
        }

        .zoom:hover {
            transform: scale(4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }

        .card {
            background: #fff;
            min-height: 50px;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
            position: relative;
            margin-bottom: 30px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            border-radius: 2px;
        }

    </style>

    <style>
        .avatar-upload {
            position: relative;
            max-width: 205px;
            margin: 50px auto;
        }

        .avatar-upload .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
        }

        .avatar-upload .avatar-edit input {
            display: none;
        }

        .avatar-upload .avatar-edit input + label {
            display: inline-block;
            width: 34px;
            height: 34px;
            margin-bottom: 0;
            border-radius: 100%;
            background: #FFFFFF;
            border: 1px solid transparent;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            cursor: pointer;
            font-weight: normal;
            transition: all 0.2s ease-in-out;
        }

        .avatar-upload .avatar-edit input + label:hover {
            background: #f1f1f1;
            border-color: #d6d6d6;
        }

        .avatar-upload .avatar-edit input + label:after {
            content: "\f040";
            font-family: 'FontAwesome';
            color: #757575;
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
        }

        .avatar-upload .avatar-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #F8F8F8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        }

        .avatar-upload .avatar-preview > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    .dt-buttons {
            padding-top: 10px;
        }
    .hidePadding{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    </style>
    <section class="content">
        {% if request.user|has_group:"Moderator" %}

        {% endif %}
        <div class="container-fluid">
            <div style="float: right">
                {% if not request.user|has_group:"Moderator" %}


                        <button style="background-color: #3F51B5;color: white;margin-bottom: 10px" type="button"
                                class="btn  waves-effect " data-toggle="modal" data-target="#addModal">Assign Staff to Manager
                        </button>
                {% endif %}
            </div>
            <!-- Striped Rows -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0;padding-left: 0">
                    <div class="card">
                        <div class="header">
                            <h2>
                                ASSIGNED STAFF LIST
                            </h2>
                        </div>
                        <div class="body table-responsive">
                            <table id="buyerCreditTable" class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ManagerName</th>
                                    <th>StaffName</th>
                                    <th>AddedOn</th>
                                    <th>Take_Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                  <tfoot>
                                     <tr>
                                     <th>#</th>
                                    <th>ManagerName</th>
                                    <th>StaffName</th>
                                    <th>AddedOn</th>
                                    <th>Take_Action</th>
                                </tr>
                                    </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Striped Rows -->
        </div>
    </section>
       <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Assign</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'mamtaApp:add_staff_to_manager_api' %}" id="AssignStaffForm"
                          method="post"> {% csrf_token %}
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">

                                    <div class="body">

                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">face</i>
                                        </span>
                                                    <div class="form-line">
                                                        <label for="managerID">Select Manager *</label>
                                                        <select class="form-control show-tick" name="managerID"
                                                                id="managerID">
                                                            <option value="" selected disabled> Select Manager</option>

                                                            {% for user in managers %}
                                                                <option value="{{ user.pk }}"> {{ user.name }}
                                                                </option>

                                                            {% endfor %}


                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                     <div class="row clearfix">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">face</i>
                                        </span>
                                                    <div class="form-line">
                                                     <label for="staffID">Select Staff *</label>
                                                        <select class="form-control show-tick" name="staffID"
                                                                id="staffID">
                                                            <option value="" selected disabled> Select Staff </option>

                                                            {% for user in staffs %}
                                                                <option value="{{ user.pk }}"> {{ user.name }}
                                                                </option>

                                                            {% endfor %}


                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" onclick="AssignStaff()">Submit</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
     <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Edit Assign</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'mamtaApp:edit_staff_to_manager_api' %}" id="EditAssignStaffForm"
                          method="post"> {% csrf_token %}
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">

                                    <div class="body">

                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">face</i>
                                        </span>
                                                    <div class="form-line">
                                                        <label for="managerIDEdit">Select Manager *</label>
                                                        <select class="form-control show-tick" name="managerIDEdit"
                                                                id="managerIDEdit">

                                                            {% for user in managers %}
                                                                <option value="{{ user.pk }}"> {{ user.name }}
                                                                </option>

                                                            {% endfor %}


                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                     <div class="row clearfix">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">face</i>
                                        </span>
                                                    <div class="form-line">
                                                     <label for="staffIDEdit">Select Staff *</label>
                                                        <select class="form-control show-tick" name="staffIDEdit"
                                                                id="staffIDEdit">




                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" id="editID" name="editID">
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" onclick="AssignStaffEdit()">Submit</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'mamtaApp:delete_assign_manager_staff_user_api' %}" id="DeleteStaffForm"
                      method="post">{% csrf_token %}
                    <input type="hidden" name="userID" id="userID">
                    <div class="modal-header">
                        <h4 class="modal-title" id="defaultModalLabel">Confirm</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this data?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect" onclick="deleteStaff()">Yes</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script src="{% static 'js/pages/ui/modals.js' %}"></script>
    <script>
   function editStaff(managerID,userID,userName,pk) {
        $('#staffIDEdit').html('');
        $('#managerIDEdit').val(managerID).change();
        $('#editID').val(pk);

             {% for user in staffs %}
                 $('#staffIDEdit').append('<option value="{{ user.pk }}"> {{ user.name }} </option>')
             {% endfor %}

            {#$('#staffIDEdit').append('<option value="'+userID+'" selected >'+userName+'</option>')#}
$('#staffIDEdit').val(userID).change();

        }
        function getStaffID(id) {
            $('#userID').val(id)

        }
        function deleteStaff() {
            $('#DeleteStaffForm').submit();

        }
    </script>
    <script>
        $(document).ready(function () {
            $('#buyerCreditTable').dataTable({
                dom: 'Blfrtip',
                buttons: ['excel', 'print'
                ],
                "columnDefs": [
                    {"name": "id", "targets": 0, "orderable": false},
                    {"name": "managerID", "targets": 1, "orderable": true},
                    {"name": "staffID", "targets": 2, "orderable": true},
                    {"name": "datetime", "targets": 3, "orderable": true},
                    {"name": "action", "targets": 4, "orderable": false},

                ],
                aaSorting: [[3, 'asc']],
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'mamtaApp:ManagerAssignedListJson' %}"
            });
        });
              function AssignStaff() {
            var managerID = $('#managerID').val();
            var staffID = $('#staffID').val();

            if (managerID === null || staffID === null) {
                $('#name_status').addClass('validate_data');
                $('#name_status').html('* fields are required.');
                $('#name_status').fadeIn().fadeOut(2000);

            }
            else {

                $('#AssignStaffForm').submit();

            }


        }
              function AssignStaffEdit() {
            var managerID = $('#managerIDEdit').val();
            var staffID = $('#staffIDEdit').val();
            var editID = $('#editID').val();
debugger;
            if (managerID === null || staffID === null) {
                $('#name_status').addClass('validate_data');
                $('#name_status').html('* fields are required.');
                $('#name_status').fadeIn().fadeOut(2000);

            }
            else {

                $('#EditAssignStaffForm').submit();

            }


        }

    </script>

{% endblock %}